name: Run tests

on:
  pull_request:
    branches:
      - main
      - master
      - release

jobs:
  run-tests:
    name: Namespace ${{ matrix.namespace }} / Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        namespace:
          - 'wool'
        python-version: 
          - '3.11'
          - '3.12'
          - '3.13'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install uv and prepare python
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: .github/scripts/install-python-packages.sh
      - name: Run tests
        env:
          NAMESPACE: ${{ matrix.namespace }}
        run: |
          uv pip install -e './${{ env.NAMESPACE }}[dev]'
          uv pip freeze
          cd ${{ env.NAMESPACE }}
          uv run pytest
