name: Run tests

on:
  pull_request:
    branches:
      - main
      - master
      - release

jobs:
  run-tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: 
          - '3.10'
          - '3.11'
          - '3.12'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install uv and prepare python
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install package
        run: uv sync --all-extras --dev
      - name: Run tests
        run: uv run pytest tests
